* {
    padding: 0;
    margin: 0;
    font-family: 'Almarai', sans-serif;
}

#header {
    height: 100vh;
    background-image: url('../images/background-reversed.jpg');
    background-position: center;
    background-size: cover;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo {
    margin-top: 30px;
    width: 100px;
}

.header-text {
    direction: rtl;
    width: 40%;
}

.header-text h3 {
    margin-top: 25%;
    font-size: 36px;
}

.header-text p {
    line-height: 30px;
    color: #777;
    font-size: 15px;
}

.square {
    width: 12px;
    height: 12px;
    background-color: #f67c92;
    display: inline-block;
    margin: 10px 0;
    border-radius: 2px;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    border: 1px solid #f67c92;
    margin: 20px 0 60px 0;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
    border-radius: 6px;
}

.common-btn:hover {
    background: #f67c92;
    color: #fff;
}

.line1 {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #f67c92;
    border-radius: 3px;
}

.line2 {
    width: 80px;
    height: 1px;
    display: inline-block;
    background-color: #f67c92;
}

.line3 {
    width: 60px;
    height: 1px;
    display: inline-block;
    background-color: #f67c92;
}

.line {
    line-height: 8px;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    background: #f67c92;
    top: 0;
    left: -250px;
    direction: rtl;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400px;
}

#menuBtn {
    width: 60px;
    height: 30px;
    position: fixed;
    top: 35px;
    left: 55px;
    z-index: 2;
    cursor: pointer;
    border-radius: 6px;
    transform: scaleX(-1);
}


/* about section  */

#about,
#offer {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-col-right,
.offer-col-right {
    flex-basis: 50%;
}

.about-col-right img,
.offer-col-right img {
    width: 100%;
}

.about-col-left,
.offer-col-left {
    flex-basis: 50%;
    text-align: right;
}

.about-text,
.offer-text {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
    direction: rtl;
}

.about-text h3,
.offer-text h3 {
    font-size: 36px;
}

.about-text p,
.offer-text p {
    line-height: 25px;
    margin-top: 7px;
    margin-bottom: 30px;
    color: #777;
}

.about-text h2 {
    margin-top: 10px;
    font-size: 20px;
}

.about-text h4 {
    font-size: 18px;
    font-style: italic;
    color: #777;
    margin-top: 10px;
}

.features {
    padding: 50px 0;
}

.feature-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 80%;
    margin: auto;
}

.feature-col img {
    width: 100px;
}

.feature-col {
    flex-basis: 25%;
    text-align: center;
}

.feature-col h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}

.feature-col p {
    font-size: 14px;
    line-height: 20px;
    color: #777;
}

.feature-button {
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.feature-button .line {
    text-align: right;
    display: inline-block;
    margin: 20px 25px 60px 0;
}

#courses {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.courses-left-col {
    flex-basis: 50%;
}

.courses-left-col img {
    width: 100%
}

.courses-right-col {
    flex-basis: 50%;
    text-align: right;
}

.courses-right-col .course-text {
    max-width: 350px;
    display: inline-block;
    direction: rtl;
    text-align: right;
    margin-right: 100px;
}

.courses-right-col .course-text h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.courses-right-col .course-text p {
    line-height: 25px;
    color: #777;
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 30px;
}

.course-text button {
    margin-bottom: 30px;
}

#offer .offer-col-right img {
    transform: scaleX(-1);
}

#offer {
    padding: 50px 0;
}

.offer-text h3 {
    width: 75%;
}

#contact-us {
    padding: 50px 0;
}

.contact-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
}

.contact-col-left {
    flex-basis: 50%;
}

.contact-col-left img {
    width: 100%;
}

.contact-col-right {
    flex-basis: 50%;
    text-align: right;
    direction: rtl;
}

.contact-col-right h3,
.contact-col-right p {
    margin-right: 100px;
    width: 70%;
}

.contact-col-right p {
    line-height: 25px;
    color: #777;
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 30px;
}

.form {
    max-width: 100%;
    margin-right: 100px;
    margin-top: 30px;
}

.input-form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.signup-form .form-col {
    flex: 100%;
    max-width: 80%;
    margin-left: 12px;
}

.signup-form input {
    width: 100%;
    padding: 12px 10px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
    margin-bottom: 10px;
    border-radius: 4px;
}

.contact-col-right h3 {
    font-size: 36px;
}

.signup-form .common-btn {
    margin-bottom: 20px;
}

.contact-col-right .line {
    text-align: right;
    margin-right: 100px;
}

#footer {
    padding: 50px 0 30px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-container hr {
    width: 80%;
    border-color: rgb(218, 215, 215);
}

.footer-col-right {
    margin-top: 30px;
    flex-basis: 55%;
    direction: rtl;
}

.footer-col-left {
    flex-basis: 30%;
    direction: rtl;
    margin-top: 30px;
}

.footer-col-right {
    margin-right: 70px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.link-title {
    flex-basis: 25%;
}

.link-title {
    color: #f67c92;
    margin-bottom: 20px;
}

.link-title small {
    line-height: 25px;
    color: #777;
    font-size: 14px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.copywrite-text {
    flex-basis: 50%;
}

.copywrite-text small {
    direction: rtl;
    color: #777;
    font-size: 14px;
    line-height: 20px;
}

.footer-logo {
    flex-basis: 40%;
}

.footer-logo img {
    width: 100px;
}

.social-links {
    width: 50px;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
}

.social-links img {
    width: 20px;
    cursor: pointer;
    margin: 0 auto 20px;
    display: block;
}

@media(max-width:700px) {
    #header {
        background-image: none;
        height: 60vh;
    }
    .container {
        margin-left: 60px;
        margin-right: 60px;
        display: flex;
        align-items: flex-end;
    }
    .logo {
        margin-top: 10px;
        margin-bottom: 50px;
        width: 100px;
    }
    .header-text {
        direction: rtl;
        width: 100%;
    }
    .header-text h3 {
        margin-top: 25%;
        font-size: 36px;
    }
    .header-text p {
        line-height: 30px;
        color: #777;
        font-size: 15px;
    }
    #about,
    #offer {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .about-text {
        margin-right: 60px;
        margin-left: 30px;
    }
    .feature-row {
        flex-direction: column;
        width: 70%;
    }
    .feature-col {
        margin-bottom: 50px;
    }
    .feature-button {
        flex-direction: column;
        align-items: center;
    }
    #courses {
        flex-direction: column;
    }
    .courses-left-col {
        margin-bottom: 50px;
    }
    .courses-right-col .course-text {
        margin-right: 60px;
        margin-left: 20px;
    }
    .feature-button .line {
        margin-bottom: 0px;
    }
    #offer {
        flex-direction: column-reverse;
        padding: 50px 0;
    }
    .offer-col-right {
        margin-bottom: 50px;
    }
    .offer-text {
        margin-right: 60px;
        margin-left: 20px;
    }
    .contact-row {
        flex-direction: column;
    }
    .contact-col-left {
        margin-bottom: 50px;
    }
    .contact-col-right h3,
    .contact-col-right p,
    .form {
        margin-right: 30px;
        margin-left: 20px;
    }
    .signup-form .form-col {
        max-width: 100%;
    }
    .footer-info {
        flex-direction: column;
    }
    .footer-col-left {
        flex-basis: 100%;
        margin-right: 30px;
        text-align: center;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-col-right {
        margin-right: 0px;
    }
    .footer-links {
        align-items: flex-start;
    }
    /* .square {
        width: 12px;
        height: 12px;
        background-color: #f67c92;
        display: inline-block;
        margin: 10px 0;
        border-radius: 2px;
    }
    .common-btn {
        padding: 18px 40px;
        background: transparent;
        border: 1px solid #f67c92;
        margin: 20px 0 60px 0;
        font-weight: bold;
        transition: .3s;
        cursor: pointer;
        border-radius: 6px;
    }
    .common-btn:hover {
        background: #f67c92;
        color: #fff;
    }
    .line1 {
        width: 15px;
        height: 15px;
        display: inline-block;
        background-color: #f67c92;
        border-radius: 3px;
    }
    .line2 {
        width: 80px;
        height: 1px;
        display: inline-block;
        background-color: #f67c92;
    }
    .line3 {
        width: 60px;
        height: 1px;
        display: inline-block;
        background-color: #f67c92;
    }
    .line {
        line-height: 8px;
    } */
}