:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: .5s;
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: .1rem solid var(--main-color);
    background-color: var(--bg);
}

section {
    padding: 2rem 7%;
}

nav .logo {
    height: 6rem;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    font-size: 1.6rem;
}

nav a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding: .5rem;
}

.icon div {
    color: #fff;
    margin: 0 1rem;
    font-size: 2.5rem;
    cursor: pointer;
}

.icon div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.search-form {
    position: absolute;
    top: 115%;
    left: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.search-form input {
    padding: 1rem;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    direction: rtl;
    border: none;
}

.search-form label {
    font-size: 2.2rem;
    cursor: pointer;
    margin-left: 1.5rem;
    color: var(--black);
    transform: scaleX(-1);
}

.search-form label:hover {
    color: var(--main-color);
}

.cart-item-container {
    height: calc(100vh - 9rem);
    width: 35rem;
    left: -35rem;
    background-color: #fff;
    position: absolute;
    top: 100%;
    padding: 0.5rem;
}

.cart-item {
    position: relative;
    display: flex;
    margin: 4rem 0;
    align-items: center;
    gap: 1.5rem
}

.cart-item img {
    flex-basis: 25%;
    margin-right: 20px;
}

.cart-item .fa-times {
    flex-basis: 25%;
    top: 0rem;
    margin-left: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
    margin-top: -10px;
}

.cart-item .menu-text {
    flex-basis: 50%;
    display: rtl;
    text-align: right;
    margin-right: 10px;
}

.cart-item .menu-text h3 {
    font-size: 1.6rem;
    font-weight: bold;
}

.cart-item .fa-times:hover {
    color: var(--main-color);
}

.cart-item img {
    height: 7rem;
    left: 10rem;
}

.cart-item .fa-times h3 {
    font-size: 3rem;
}

.checkout-button {
    padding: 1rem;
    background-color: var(--main-color);
    width: 100%;
    border: 1rem solid var(--main-color);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.home {
    background: url("../images/home-img-reverse.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    direction: rtl;
}

.home .content h3 {
    width: 90%;
    font-size: 6rem;
    color: #fff;
    text-align: right;
    padding: 1rem;
    margin-right: 4rem;
}

.home .content p {
    width: 90%;
    padding: 2rem;
    font-size: 2rem;
    color: #f3f3f3;
    margin-right: 4rem;
    margin-bottom: 4rem;
}

.get-yours-btn {
    background-color: var(--main-color);
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.heading {
    font-size: 4rem;
    margin-bottom: 3.5rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.heading span {
    color: var(--main-color);
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--black);
}

.about .row img {
    flex: 1 1 45rem;
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
    direction: rtl;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #eee;
    line-height: 30px;
    margin-bottom: 3rem;
}

.about .row .content .btn {
    background-color: var(--main-color);
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    border: var(--main-color);
}

.menu {
    background-color: #fff;
}

.menu h1 {
    margin-top: 5rem;
    color: #010103;
}

.menu .menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.menu .menu-content .menu-product {
    padding: 5rem;
    text-align: center;
    border: .5px solid var(--main-color);
}

.menu .menu-content .menu-product img {
    width: 150px;
}

.menu .menu-content .menu-product h3 {
    font-size: 2.5rem;
    padding: 1rem;
}

.menu .menu-content .menu-product p {
    font-size: 2.5rem;
    padding: .5rem;
}

.menu .menu-content .menu-product span {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.menu .menu-content .menu-product .btn {
    background-color: var(--main-color);
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    border: var(--main-color);
}

.menu .menu-content .menu-product:hover {
    background-color: #ddb88b;
    color: #fff;
}

.our-product .h1 {
    margin-top: 5rem;
}

.our-product .product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    text-align: center;
    gap: 1.5rem;
}

.our-product .product-content .product-details {
    border: .2rem solid var(--main-color);
}

.our-product .product-content .product-details .icons .fas {
    margin: 3rem .3rem;
    font-size: 2rem;
    border: .2rem solid var(--main-color);
    padding: 1rem;
    color: #fff;
    cursor: pointer;
}

.our-product .product-content .product-details .icons .fas:hover {
    background: var(--main-color);
}

.our-product .product-content .product-details .text-content h3 {
    font-size: 2.5rem;
    color: #fff;
}

.our-product .product-content .product-details .text-content .stars {
    display: inline-block;
}

.our-product .product-content .product-details .text-content .stars .fa {
    color: var(--main-color);
    font-size: 2rem;
    margin: 2rem 0;
}

@media(max-width: 991px) {
    html {
        font-size: 52%;
    }
    #menu-btn {
        display: inline-block;
    }
    header {
        border-bottom: .1rem solid var(--main-color);
    }
    .navbar {
        position: absolute;
        width: 30rem;
        top: 100%;
        height: calc(100vh - 9rem);
        right: -30rem;
        background: #fff;
    }
    .navbar a {
        display: block;
        color: var(--black);
        padding: 1rem;
        margin: 1rem 3rem;
        font-size: 2rem;
        text-align: right;
    }
    .home {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .home .content h3 {
        font-size: 5rem;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .home .content p {
        font-size: 2rem;
        margin-right: auto;
        margin-left: auto;
        ;
    }
    .get-yours-btn {
        padding: 2rem;
        font-size: 2rem;
        margin-right: auto;
        margin-left: auto;
    }
}